@using ApplicationTracker.Core.Features.Applications.Queries.GetApplications;

<div class="border border-light m-0 p-1">

</div>

@code {
    [Parameter]
    public ApplicationSummaryDto Application { get; set; }
}
