@inherits LayoutComponentBase
@using BlazorStrap; 
@inject BlazorStrap.IBootstrapCss BootstrapCss

<div class="sidebar bg-dark">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>



@code {      
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BootstrapCss.SetBootstrapCss(Theme.Bootstrap, "4.3.1");
        }

        //return base.OnAfterRenderAsync(firstRender);
    }
}
